# Entorno virtual
venv/

# Archivos de base de datos
*.sqlite3

# Archivos de configuración del sistema
__pycache__/
*.py[cod]
*.log

# Archivos de entorno
.env

# Archivos de sistema/macOS
.DS_Store
